<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Storefront 2.0</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.vendorCSS %>" />
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.mainCSS %>" />
    <link
      rel="stylesheet"
      href="<%= htmlWebpackPlugin.options.tailwindCSS %>"
    />
  </head>

  <body>
    <div class="container-fluid px-[20px] md:px-[36px] max-w-screen-xl">
      <div id="root"></div>
    </div>
  </body>
</html>
