body {
  background-color: #ebf4fe;
}

.tracking-\[\.25em\] {
  letter-spacing: 0.25em;
}

.max-w-\[492px\] {
  max-width: 492px !important;
}

input::placeholder {
  font-style: italic;
  color: #aaaaaa !important;
}

.registration-form-container {
  background-position: center 135px;
}

.registration-form {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.bg-bottom {
  background-position: bottom;
}

.form-control.without-error-icon.is-invalid {
  background-image: none;
}

.max-w-\[580px\] {
  max-width: 580px !important;
}

.max-w-\[544px\] {
  max-width: 544px;
}

.gap-24 {
  gap: 6rem;
}

.mt-56 {
  margin-top: 14rem;
}

.min-h-screen {
  min-height: 100vh !important;
}

.right-3 {
  right: 0.75rem !important;
}

@media (min-width: 1024px) {
  .lg\:flex-row {
    flex-direction: row !important;
  }

  .lg\:my-44 {
    margin-top: 11rem !important;
    margin-bottom: 11rem !important;
  }

  .lg\:text-left {
    text-align: left !important;
  }
}

@media (min-width: 768px) {
  .md\:text-\[80px\] {
    font-size: 80px !important;
    line-height: 100px !important;
  }
}
