.trumbowyg-modal {
  left: 0 !important;
  transform: none !important;
  max-width: 320px !important;
}

.trumbowyg-modal-box {
  .trumbowyg-input-infos {
    width: 100px;
  }
  .trumbowyg-input-html {
    padding: 1px 1px 1px 101px;
  }
}

.trumbowyg-button-pane {
  button {
    width: 33px !important;
  }
}

.trumbowyg-dropdown {
  left: auto !important;
  right: 14px !important;
}

.trumbowyg-editor {
  min-height: 336px !important;
}

.trumbowyg-button-group:nth-of-type(2)::after {
  display: none;
}
