// will contain style which is not provided by layout container
$input-border-radius: 0.5rem;

@import '~bootstrap/scss/_mixins';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/_popover';
@import '~bootstrap/scss/_spinners';
@import '~bootstrap/scss/_carousel';
@import '~bootstrap/scss/_close';
@import '~bootstrap/scss/_forms';
@import '~bootstrap/scss/_alert';
@import '~bootstrap/scss/_dropdown';
@import '~bootstrap/scss/_accordion';
@import '@components/Table/pagination';

#root {
  .card {
    border: none;
    border-radius: 0.75rem;
  }

  .benefit-wrapper {
    max-width: 598px;
    box-sizing: border-box;
    border: 2px solid #f4f4f4;
    border-radius: 12px;
    margin-top: 32px;
    padding: 20px 0;
  }

  .benefits-slide {
    padding: 0 124px;

    &--small {
      padding: 0 50px;
    }

    .carousel-control-prev,
    .carousel-control-next {
      opacity: 1;
      width: unset;
      padding-top: 30px;

      span {
        display: none;
      }

      i {
        color: $black;
        font-size: 24pt;
      }
    }

    .carousel-control-prev {
      left: -40px;
    }

    .carousel-control-next {
      right: -40px;
    }
  }

  .table {
    &.fixed-table {
      table-layout: fixed;
    }

    > thead {
      background: #e7eefa;
      border-radius: 8px;

      > tr > th {
        vertical-align: middle;

        &:first-child {
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
        }
        &:last-child {
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
    }

    &-lg {
      > thead > tr > th,
      > thead > tr > td {
        padding: 16px 8px;

        &:first-child {
          padding-left: 16px;
        }
      }

      > tbody > tr > th,
      > tbody > tr > td {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }

    &.table-bordered {
      border-bottom: 0 !important;
    }

    &.table-bordered,
    &.table-bordered > tbody > tr > td,
    &.table-bordered > tbody > tr > th,
    &.table-bordered > tfoot > tr > td,
    &.table-bordered > tfoot > tr > th,
    &.table-bordered > thead > tr > td,
    &.table-bordered > thead > tr > th {
      border-left: none;
      border-right: none;
    }

    &.table-bordered > tbody > tr:last-child {
      td {
        border: 0 !important;
      }
    }

    & tbody > tr > td {
      vertical-align: middle;
    }
  }

  .btn-upgrade {
    width: 494px;
  }

  .form-control {
    height: inherit;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 16px;
    line-height: 24px;

    &.flatpickr-input[readonly] {
      background-color: #fff !important;
      background-position: right calc(0.375em + 0.1875rem + 40px) center !important;
    }

    &.form-control-sm {
      max-height: 38px;
      padding: 8px 1.25rem;
      font-size: 14px;
      border-radius: 4px;

      &[type='color'] {
        padding: 3px;
      }
    }
  }

  .form-select {
    border-radius: $input-border-radius;
    cursor: pointer;
  }

  .form-label {
    &[aria-required='true']:after {
      content: '*';
      font-size: 16px;
      color: #ed7881;
    }

    small {
      display: block;
      font-size: 10px;
      font-weight: normal;
      line-height: 12px;
      opacity: 0.6;
    }

    &[required-label='true']:after {
      content: '(Wajib)';
      font-size: 14px;
      color: #27272a80;
      font-weight: 300;
      font-style: italic;
      margin-left: 8px;
    }

    &[required-label='false']:after {
      content: '(Opsional)';
      font-size: 14px;
      color: #27272a80;
      font-weight: 300;
      font-style: italic;
      margin-left: 8px;
    }
  }

  .form-text {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 16px;
  }

  .form-check {
    &-inline {
      min-width: 140px;
    }

    .form-check-input {
      cursor: pointer;
      height: 18px;
      width: 18px;
      margin-right: 8px;
      border-color: #1155cc;

      &.is-invalid {
        border-color: #dc3545;

        & ~ .form-check-label {
          color: inherit;
        }
      }

      &:checked {
        background-color: #1155cc;
      }

      &[type='radio'] {
        height: 24px;
        width: 24px;

        &:checked {
          background-color: #fff;
          background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%231155cc%27/%3e%3c/svg%3e');
        }
      }

      &[type='checkbox'] {
        margin-top: 6px;
      }

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    .form-check-label {
      font-weight: 400;
      vertical-align: sub;
      margin-bottom: 6px;
      cursor: pointer;

      .input-group {
        position: absolute;
        top: -8px;
        width: auto;
        padding-right: 15px;
      }
    }
  }

  .input-group {
    & .input-group-text {
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      color: #555;
      text-align: center;
      background-color: rgba(170, 170, 170, 0.1);
      border: 1px solid #ced4da;
    }

    & .form-control {
      border-radius: $input-border-radius;

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.has-validation {
      .form-control:not(:nth-last-child(2)) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }

    .invalid-feedback {
      margin-top: 0.5rem;
    }

    &.datepicker {
      .input-group-text {
        top: 1px;
        bottom: 1px;
        right: 1px;
        height: 46px;
      }

      .form-control {
        background-color: #fff;
        border-radius: $input-border-radius;
      }

      &.has-validation {
        .form-control:not(:nth-last-child(2)) {
          border-top-right-radius: $input-border-radius !important;
          border-bottom-right-radius: $input-border-radius !important;
        }
      }
    }
  }

  .uploader-container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #bfbfbf;
    background-color: #f7f7f7;
    border: 2px dashed #ddd;
    border-radius: 12px;
    width: 100%;
    padding: 8px;
    white-space: normal;
    min-width: 120px;
    min-height: 120px;
    text-align: center;
    position: relative;

    &--square {
      width: 130px;
      height: 130px;
    }

    svg {
      font-size: 24pt;
    }

    a {
      color: #185acf !important;
    }

    .uploader-remove-btn {
      border-radius: 50%;
      font-size: 10pt !important;
      position: absolute;
      top: 4px;
      right: 4px;
      width: 20px;
      height: 20px;
      padding: 0;
      box-shadow: -2px 2px 4px rgb(0 0 0 / 20%);
      background-color: #fff;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .wizard-step {
    span {
      z-index: 2;
      background-color: #f4f4f4;
    }
    label {
      max-width: 100px;
    }
    &:after {
      content: '';
      position: relative;
      top: 1.5rem;
      left: 50%;
      height: 14px;
      background-color: #f4f4f4;
      width: 100%;
      order: -1;
    }
    &:last-child {
      &:after {
        visibility: hidden;
      }
    }

    &.completed {
      &:after {
        background-color: #2563eb;
      }
    }
  }

  .alert {
    opacity: 1 !important;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 20px;
    border-radius: 8px;
    margin-bottom: 0px;

    svg {
      font-size: 20px;
    }

    &.alert-warning {
      border: 2px solid #fca41e;
      background: #fff2e0;
      svg {
        color: #fb8b01;
      }
    }

    &.alert-success {
      border: 2px solid #23a665;
      background: #ddf6dd;
      svg {
        color: #128c55;
      }
    }
  }
}

.table-dragger {
  cursor: grab;
  font-size: 16px;
  margin-right: 18px;
  margin-top: -2px;
}

.vstack {
  flex: 1 1 auto;
  flex-direction: column;
}

.hstack {
  flex-direction: row;
  align-items: center;
}

.hstack,
.vstack {
  display: flex;
  align-self: stretch;
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-3 {
  gap: 1rem !important;
}

.gap-4 {
  gap: 1.5rem !important;
}

.gap-5 {
  gap: 3rem !important;
}

.gap-x-9 {
  -moz-column-gap: 2.25rem !important;
  column-gap: 2.25rem !important;
}

.btn {
  &.btn-light {
    background-color: #f4f4f4;
  }
}

.popover {
  width: auto;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);

  &.fade {
    opacity: 1;
  }

  .popover-header {
    line-height: normal;
  }
}

.form-switch {
  input {
    cursor: pointer;
    height: 32px;
    width: 52px !important;
    margin-top: 0px;
    background-color: #f4f4f4;
    border: solid 1px #c4c4c4;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='14' cy='14' r='13.5' fill='white' stroke='%23C4C4C4' strokeWidth='1'/%3e%3c/svg%3e") !important;

    &:checked {
      background-color: #1155cc;
      background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273.8%27 fill=%27rgba%28255, 255, 255, 1%29%27/%3e%3c/svg%3e') !important;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }
}

.modal {
  backdrop-filter: blur(3px);

  &.show {
    &.fade {
      opacity: 1;
    }
  }

  .modal-dialog {
    .modal-content {
      border-radius: 0.75rem;

      .modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top-left-radius: calc(0.3rem - 1px);
        border-top-right-radius: calc(0.3rem - 1px);

        &:before,
        &:after {
          display: none;
        }

        .modal-title {
          font-size: 1.5rem;
          margin-bottom: 0;
          line-height: 1.5;
        }
      }
    }
  }

  &-simple,
  &-confirmation {
    .modal-dialog {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) !important;
      margin: 0;
    }
  }

  &-confirmation {
    .modal-dialog {
      width: 433px;

      .modal-content {
        padding: 24px;

        .modal-header {
          padding: 0 0 24px 0;
        }

        .modal-footer {
          button {
            width: 100%;
            + button {
              margin-left: 24px;
            }
          }
        }
      }
    }
  }

  &-confirmation--upgrade {
    .modal-dialog {
      width: 540px;

      .modal-body {
        text-align: left !important;
        padding: 0 !important;
      }

      .modal-footer {
        border-top: 0 !important;
      }
    }

    .form-check--upgrade {
      input {
        cursor: pointer;
      }

      .form-check-label {
        font-weight: 400;
        margin-bottom: 0 !important;
        cursor: pointer;
      }
    }
  }
  @media (min-width: 768px) {
    &-simple {
      &.modal-custom {
        .modal-dialog {
          width: 532px;
        }
      }
    }
  }
}

.modal-backdrop {
  &.show {
    &.fade {
      opacity: 0.5;

      .modal-dialog {
        width: 0;
      }
    }
  }
}

.onboarding {
  &--box-img {
    height: 190px;
    background: #ffffff;
    border: 1px solid #aaaaaa;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
  }

  &--order-list {
    margin-bottom: 30px;
    padding-left: 52px;
    padding-right: 54px;

    li {
      margin-bottom: 8px;
    }
  }

  &--choose-product {
    text-align: center;

    &__link {
      color: #1155cc;
      font-weight: bold;
    }
  }

  &--form-share {
    display: flex;
    align-items: end;

    .input-group .form-control {
      border-radius: 0.5rem 0 0 0.5rem !important;
    }

    .btn-copy-group {
      background: #ffffff;
      border: 1px solid #aaaaaa;
      border-radius: 0px 8px 8px 0px;
      color: #1155cc;

      &:active {
        color: #ffffff;
        background: #1155cc;

        .icon-base {
          color: #ffffff;
        }
      }
    }

    &__fg {
      width: calc(100% - 168px);
    }

    .icon-base {
      color: '#1155CC';
      font-size: '16px';
    }
  }
}

.theme-thumbnail {
  padding-bottom: 140%;
  display: block;
  background-size: cover;
  background-position: top center;
}

.preview-theme-modal {
  padding: 0 150px !important;

  .modal-dialog {
    transform: none !important;
    margin: 92px auto !important;
    max-width: 1048px;
    width: 100% !important;
  }

  .modal-content {
    border: none;
    border-radius: 0 !important;
  }
}

.preview-theme-close-button {
  z-index: 1062;
  top: 32px;
  right: 32px;
}

.blurry-loading-image {
  transition: 0.7s filter linear;
  width: 100%;

  &.loading {
    filter: blur(5px);
  }
}

@media (max-width: 767px) {
  .preview-theme-modal {
    padding: 0 24px !important;

    .modal-dialog {
      width: 100% !important;
    }
  }

  .preview-theme-close-button {
    top: 24px;
    right: 24px;

    .preview-theme-close-text {
      display: none;
    }
  }
}

.form-wizard {
  scroll-margin-top: 104px;
}

.trumbowyg-editor,
.trumbowyg-textarea {
  min-height: 274px !important;
}

.trumbowyg-box {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus-within {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
}

.trumbowyg-error {
  .invalid-feedback {
    display: block;
  }

  .trumbowyg-box {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.25rem rgb(220 53 69 / 25%);
  }
}

.tab-nav {
  .nav-item > .nav-link {
    &:focus {
      outline: none !important;
    }

    &.active {
      font-weight: bold;
      color: #1155cc !important;
      border-right: 4px solid #1155cc;
    }
  }
}

.badge {
  font-size: 10px;
  line-height: 12px;

  &.is-ellipsis {
    max-width: 86px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  i {
    font-size: 10px;
    margin-right: 2px;
  }

  &-default {
    color: #3d3d3d;
    background-color: #e0e0e0;
  }

  &-success {
    color: #128c55;
    background-color: #b7edb7;
  }
}

.trumbowyg-button-pane {
  border-radius: 0.5rem 0.5rem 0 0 !important;
}

.coupon-form-check-container-with-text-box {
  display: flex;
  width: 100%;

  .coupon-form-check {
    &:first-child {
      margin-right: 58px;
      margin-bottom: 56px;
    }

    &:nth-child(2) {
      flex: 1;
      display: flex;

      > label {
        flex: 1;
        display: flex;
        margin-top: 4px;

        .input-group {
          position: relative !important;
          flex: 1;
          padding: 0 !important;
          top: -12px !important;
        }
      }
    }
  }
}

.discount-percentage {
  & ~ .invalid-feedback {
    white-space: nowrap;
  }
}

pre {
  border-radius: 0;
  color: rgb(0 0 0 / 50%);
  font-size: 14px;
  line-height: 24px;
}

.builder-preview-container {
  display: block;
  padding: 0;
  margin: 36px auto;
  border: 1px solid #aaaaaa !important;
  min-height: calc(100vh - 175px);
  border-radius: 8px !important;

  .card-header {
    padding: 8px 10px;
    border-bottom: 1px solid #aaaaaa;
  }

  .loading-state {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  iframe {
    width: 1px;
    min-width: 100%;
    pointer-events: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.side-menu-builder {
  display: flex;
  flex-direction: column;
  height: 100%;

  .side-menu-content {
    flex: 1;
    overflow-y: scroll;
    position: relative;

    .side-menu-group {
      &:not(:last-of-type) {
        margin-bottom: 40px;
      }

      p {
        color: #aaaaaa;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 10px;
      }

      .nav > .nav-item {
        position: relative;

        .nav-link {
          display: flex;
          align-items: center;
          padding: 16px 8px 16px 12px;
          margin-bottom: 8px;
          justify-content: space-between;
          font-weight: 700;
          background: #fff;
          border: 1px solid #1155cc;
          border-radius: 4px;
          cursor: pointer;
          transition: 0.3s;

          > span > span {
            opacity: 1;
          }

          &:not([class^='disabled']) {
            &:hover {
              background: rgba(255, 255, 255, 0.5);

              > span > span {
                opacity: 0.5;
              }

              .sort-icon {
                visibility: visible;
              }
            }
          }

          .sort-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 12px;
            font-size: 12px;
            color: #2e2e2e;
            visibility: hidden;
            opacity: 1 !important;

            :hover {
              cursor: grab;
            }
          }

          &.with-image {
            font-weight: 400;
            color: #000 !important;
          }
        }

        .menu-action {
          position: absolute;
          color: #aaaaaa;
          right: 8px;
          transform: translate3d(0, -52px, 0);
          z-index: 99;
        }

        .side-menu-item__text {
          max-width: 140px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &.product-list {
          .nav-link {
            padding: 0;
            margin-bottom: 0;
            border: none;
            font-size: 16px;
            color: #6b737b;
            cursor: default;

            &:hover {
              background: transparent;

              span {
                opacity: 1;
              }
            }
          }

          .side-menu-item__text {
            max-width: 180px;
          }
        }

        &.sorted-menu > .nav-link {
          background: #f4f4f4;

          .sort-icon {
            visibility: visible;
          }
        }
      }
    }

    textarea {
      resize: none;
    }
  }

  .side-menu-footer {
    box-shadow: 0 -10px 10px #adb5bd1a;
  }
}

.select-color__preview {
  width: 95px !important;
  flex: 0 0 auto !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;

  &-color {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.font-dropdown {
  .dropdown-toggle {
    border-radius: 0.5rem;
    padding: 8px 1.75rem 8px 1.25rem;
    font-size: 0.875rem;
    font-weight: inherit;
    line-height: 1.5;
    color: #212529;
    background-color: #fff !important;
    background-image: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27M2 5l6 6 6-6%27/%3e%3c/svg%3e');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 198px;
    height: 100%;
    text-align: left;
    justify-content: flex-start;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    &:focus {
      border-color: #86b7fe !important;
      box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%) !important;
    }

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    max-height: 240px;
    overflow: auto;
    background: #ffffff;
  }

  .dropdown-item {
    white-space: normal;
  }
}

.update-version {
  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }

  .btn-update {
    width: 180px;
    border: 1px solid #f4f4f4;
  }

  .section {
    width: 100%;
    padding: 62px 0px 0px 56px;
    overflow: hidden;
    color: #212529;

    .btn-update {
      margin-top: 56px;
    }

    h5 {
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: 16px;
    }

    h4 {
      font-weight: 400;
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 16px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      max-width: 400px;
      color: #6b737b;
    }

    &.dashboard {
      color: #ffffff;
      background: linear-gradient(80.47deg, #1155cc 13.57%, #f8c84f 154.85%);
      padding: 62px 0px 95px 56px;

      p {
        max-width: 320px;
      }

      .absolute {
        bottom: -15px;
        right: -5px;
      }
    }

    &.web-builder {
      img {
        margin-top: -30px;
        margin-left: 10px;
      }
    }

    &.faq {
      padding: 62px 56px;

      p {
        color: #212529;
      }

      .accordion {
        margin-top: 16px;
        margin-bottom: 66px;
        color: #212529;

        .accordion-button {
          padding: 12px 72px 12px 24px;
          background: #f6f6f7;
          line-height: 150%;

          &::after {
            display: none;
          }

          &:not(.collapsed) {
            color: #212529;
            background: #ffffff;
            box-shadow: none;
          }
        }

        .accordion-item {
          position: relative;
          border-color: #aaaaaa;

          &:first-of-type,
          &:first-of-type .accordion-button {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
          }

          &:last-of-type,
          &:last-of-type .accordion-button {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
          }

          .accordion-body {
            padding: 8px 72px 24px 24px;
            max-width: 910px;
          }

          .accordion-icon {
            font-size: 24px;
            color: #6b737b;
            position: absolute;
            z-index: 9;
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
            transition: transform 0.2s ease-in-out;
            cursor: pointer;

            &.active {
              transform: translateY(-50%) rotate(45deg);
            }
          }
        }
      }
    }
  }

  .card-footer {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding: 12px;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    background: linear-gradient(80.47deg, #1155cc 13.57%, #f8c84f 154.85%);
  }
}

.btn-to-top {
  position: fixed;
  right: 26px;
  bottom: 133px;
  transition: visibility 0.5s, opacity 0.5s;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  .md\:col-span-8 {
    grid-column: span 8 / span 8 !important;
  }

  .md\:col-span-4 {
    grid-column: span 4 / span 4 !important;
  }
}

.-mt-1\.5 {
  margin-top: -0.375rem !important;
}

.mt-0\.5 {
  margin-top: 0.125rem !important;
}

.mt-7 {
  margin-top: 1.75rem !important;
}

.mt-9 {
  margin-top: 2.25rem !important;
}

.mt-16 {
  margin-top: 4rem !important;
}

.mt-36 {
  margin-top: 9rem !important;
}

.mt-\[68px\] {
  margin-top: 68px !important;
}

.mr-\[88px\] {
  margin-right: 88px !important;
}

.ml-6 {
  margin-left: 1.5rem !important;
}

.-ml-4 {
  margin-left: -1rem !important;
}

.mx-20 {
  margin-left: 5rem !important;
  margin-right: 5rem !important;
}

.-mb-1\.5 {
  margin-bottom: -0.375rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3\.5 {
  margin-bottom: 14px !important;
}

.mb-9 {
  margin-bottom: 2.25rem !important;
}

.mb-12 {
  margin-bottom: 3rem !important;
}

.mb-14 {
  margin-bottom: 3.5rem !important;
}

.pb-12 {
  padding-bottom: 3rem !important;
}

.py-12 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.pb-16 {
  padding-bottom: 4rem !important;
}

.py-16 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.px-\[34px\] {
  padding-left: 34px !important;
  padding-right: 34px !important;
}

.px-16 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.px-24 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.px-26 {
  padding-left: 6.5rem !important;
  padding-right: 6.5rem !important;
}

.py-32 {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}

.gap-9 {
  gap: 2.25rem !important;
}

.gap-11 {
  gap: 2.75rem !important;
}

.right-1 {
  right: 4px !important;
}

.right-7 {
  right: 1.75rem !important;
}

.bottom-5 {
  bottom: 1.25rem !important;
}

.left-7 {
  left: 1.75rem !important;
}

.left-8 {
  left: 2rem !important;
}

.inset-y-1 {
  top: 4px !important;
  bottom: 4px !important;
}

.text-slate-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(148 163 184 / var(--tw-text-opacity)) !important;
}

.text-slate-900 {
  --tw-text-opacity: 1 !important;
  color: rgb(15 23 42 / var(--tw-text-opacity)) !important;
}

.text-blue-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(37 99 235 / var(--tw-text-opacity)) !important;
}

.text-blue-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(29 78 216 / var(--tw-text-opacity)) !important;
}

.text-green-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(22 163 74 / var(--tw-text-opacity)) !important;
}

.text-\[\#212529\] {
  color: #212529 !important;
}

.text-\[22px\] {
  font-size: 22px !important;
  line-height: 28px !important;
}

.border-radius-1 {
  border-radius: 4px;
}

.border-solid {
  border-style: solid;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-blue-400 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(96 165 250 / var(--tw-border-opacity)) !important;
}

.border-gray-100 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(243 244 246 / var(--tw-border-opacity)) !important;
}

.border-blue-600 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(37 99 235 / var(--tw-border-opacity)) !important;
}

.border-green-600 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(22 163 74 / var(--tw-border-opacity)) !important;
}

.self-end {
  align-self: flex-end !important;
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}

.duration-500 {
  transition-duration: 500ms !important;
}

.max-w-xs {
  max-width: 20rem !important;
}

.max-w-sm {
  max-width: 24rem !important;
}

.max-w-md {
  max-width: 28rem !important;
}

.max-w-lg {
  max-width: 32rem !important;
}

.max-w-xl {
  max-width: 36rem !important;
}

.max-w-\[320px\] {
  max-width: 320px !important;
}

.max-w-\[338px\] {
  max-width: 338px !important;
}

.max-w-\[356px\] {
  max-width: 356px !important;
}

.max-w-\[465px\] {
  max-width: 465px !important;
}

.max-w-\[485px\] {
  max-width: 485px !important;
}

.max-w-\[600px\] {
  max-width: 600px !important;
}

.h-\[28px\] {
  height: 28px !important;
}

.w-\[28px\] {
  width: 28px !important;
}

.w-9\/12 {
  width: 75% !important;
}

.w-\[156px\] {
  width: 156px !important;
}

.w-\[296px\] {
  width: 296px !important;
}

.w-\[330px\] {
  width: 330px !important;
}

.w-\[848px\] {
  width: 848px !important;
}

.w-\[892px\] {
  width: 892px !important;
}

.w-mobile {
  width: 425px !important;
}

.w-tablet {
  width: 768px !important;
}

.w-desktop {
  width: 1024px !important;
}

.m-auto {
  margin: auto !important;
}

.line-height-18 {
  line-height: 72px !important;
}

.page-header-top {
  margin-top: 68px !important;
  padding-top: 20px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 68px;
  z-index: 99;
  background: #f4f4f4;
  padding-bottom: 2.25rem;
}

.fixed-tab-content {
  max-height: calc(100vh - 335px);
  overflow: auto;
}

a.btn.disabled {
  pointer-events: auto;
}

.leading-5 {
  line-height: 1.25rem;
}

.opacity-60 {
  opacity: 0.6 !important;
}

.opacity-100 {
  opacity: 1 !important;
}

.bg-slate-100 {
  background-color: #f1f5f9;
}

.badge-coupon {
  background: rgba(155, 81, 224, 0.1);
  border-radius: 8px !important;
  color: #9b51e0;
  padding: 8px !important;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.disabled,
:disabled {
  opacity: 0.3 !important;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.pt-\[68px\] {
  padding-top: 68px !important;
}

.pt-\[99px\] {
  padding-top: 99px !important;
}

.top-\[68px\] {
  top: 68px !important;
}

.left-\[320px\] {
  left: 320px !important;
}

.menu-info {
  border: none;
  padding: 16px;
  border-radius: 8px;
  margin-left: 12px;
  filter: drop-shadow(0px 1px 5px rgba(31, 31, 31, 0.15));
  max-width: 292px;
  box-shadow: none;

  .popover-arrow {
    border: none;
    left: calc(-1rem - 1px);
    width: 1.75rem;
    height: 1.75rem;

    &::before {
      left: 0;
      border-width: 1.25rem 1.75rem 1.25rem 0;
      border-right-color: #fff;
    }

    &::after {
      left: 1px;
      border-width: 1.25rem 1.75rem 1.25rem 0;
      border-right-color: #fff;
    }
  }

  .popover-header {
    background: #fff;
    border: none;
    padding: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    color: #212529;
  }

  .popover-body {
    padding: 10px 0 0 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #212529;
    opacity: 0.5;
  }
}

.text-\[\#AAAAAA\] {
  color: #aaaaaa !important;
}

.text-\[\#1155CC\] {
  color: #1155cc !important;
}

.text-\[\#3D3D3D\] {
  color: #3d3d3d;
}

.text-\[\#ED7881\] {
  color: #ed7881 !important;
}

.text-\[\#F4F4F4\] {
  color: #f4f4f4 !important;
}

.text-\[\#3F3F46\] {
  color: #3f3f46 !important;
}

.border-\[\#AAAAAA\] {
  border-color: #aaaaaa !important;
}

.border-\[\#F4F4F4\] {
  border-color: #f4f4f4 !important;
}

.border-\[\#1155CC\] {
  border-color: #1155cc !important;
}

.bg-\[\#1155CC\] {
  background-color: #1155cc !important;
}

.inset-x-6 {
  right: 1.5rem;
  left: 1.5rem;
}

.top-1\/2 {
  top: 50%;
}

.-translate-y-2\/4 {
  transform: translateY(-50%);
}

.align-bottom {
  vertical-align: bottom !important;
}

.text-ellipsis {
  text-overflow: ellipsis;
}

.hover\:color\[\#ED7881\]:hover {
  color: #ed7881 !important;
}

.prompt-modal {
  .modal-body {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

.thumbnail-square {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.callout {
  align-items: flex-start;

  &--default {
    border: 1px solid #e0e0e0;
    background: transparent;
  }

  &--info {
    background: rgba(17, 85, 204, 0.1);

    i {
      color: #1155cc;
    }
  }

  &--danger {
    background: #f8d7da;

    i {
      color: #842029;
    }
  }

  &--center {
    align-items: center;

    .callout__icon {
      margin-top: -0.5rem;
    }
  }
  // size
  &-size--huge {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    border-radius: 8px !important;

    .callout {
      &__icon {
        font-size: 24px !important;
      }

      &__text {
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 24px !important;
      }
    }
  }
}

.bg-gradient {
  background: linear-gradient(95.33deg, #1155cc 45.73%, #f8c84f 115.54%);
  color: #fff;
}

.bg-soft-grey {
  background: #f4f4f4 !important;
}

.is-disabled-30 {
  background: #aaaaaa;
  opacity: 1 !important;
}
